# edit bash profile
alias profile:edit="subl ~/.bash_profile"

# alias for react
alias react="react-native"

# open simulator
alias simulator="open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app"

# source profile so after editing changes can be pulled in
alias profile:update="source ~/.bash_profile"

# get a daily update of commits
alias dailyupdate="simple daily-git-summary"

# copies the ssh public key
alias copyssh="pbcopy < ~/.ssh/id_rsa.pub"

# ssh pair
function sshpair() {
  cat ~/.ssh/id_rsa.pub | ssh $1 'cat - >> ~/.ssh/authorized_keys'
}

# clear screen
alias cl="clear"

# ls
alias la="ls -al"
alias ll="ls -l"

# up
alias u="cd ../"

# bundle
alias be="bundle exec"

# git aliases
alias gpl="git pull"
alias gcm="git commit -v"
alias gpsh="git push"
alias gs="git status"
alias ga="git add ."
alias gas="ga;gs;"
alias gd="git difftool"
alias gm="git mergetool"
alias gk="gitup"
alias gpr="git remote prune origin"
alias gb="git branch"
alias gc="git checkout"
alias gdrb="git push origin --delete"
alias gdb="git branch -D"
alias gm="git merge"
function gnb {
  git branch $1 && git checkout $1
}
# track a git branch to upstream
function gtr {
  git push -u origin $1
}

# postgres
alias pg='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log'

# rails server
alias rs="bundle exec rails s"

# install ies
function ie {
  curl -s https://raw.githubusercontent.com/xdissent/ievms/master/ievms.sh | env IEVMS_VERSIONS="$1" bash
}

alias i="ionic"

alias serve="python -m SimpleHTTPServer 8080"

# turns normal cat into ccat (cat with highlighting)
alias cat="ccat"

alias vargrant="vagrant"
